.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 20px;
  align-items: flex-start !important;
  /* background: linear-gradient(45deg, #2196f3, #e91e63); */
}

.form-group input[type="password"] {
  background-color: #1d1d1d;
  color: #806c00;
}

.login-form {
  margin-top: 20px;
  background: rgba(90, 87, 87, 0.322);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  min-height: 200px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: rgb(250, 247, 48);
  font-weight: 500;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 2px solid #f8f41d;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.form-group input:focus {
  border-color: #a2f012;
  outline: none;
}
 
.login-button {
  width: 100%;
  height: 40px;
  padding: 12px;
  background: #1f1a01;
  color: #806c00;
  border: 2px solid #FFD700;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.logout-button  {
  width: 100px;
  height: 40px;
  padding: 0;
  background: #1f1a01;
  color: #806c00;
  border: 2px solid #FFD700;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-button {
  width: 100px;
  height: 40px;
  padding: 0;
  background: #1f1a01;
  color: #806c00;
  border: 2px solid #FFD700;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button:hover,
.logout-button:hover,
.download-button:hover {
  background: #c8f81c;
  border-color: #dde659;
}

.error-message {
  color: #e91e63;
  margin-top: 8px;
  font-size: 14px;
}
